/* Media Queries */
@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .credit{
        font-size: 10px;
    }
}

body,
html {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../assets/images/kkv.png') no-repeat center;
    margin: -100px 0 0 -100px;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

.nav-item {
    color: #fff !important;
    font-weight: 600;
    margin-right: 30px;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.1;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/Kunal.jpg');
}

.navbar {
    transition: 200ms linear;
}

.name_logo {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5px;
    height: 80px;   
}

.name_image {
    height: 100px;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255) !important;
    /* 00abff */
    transition: background-color 200ms linear;
    border-bottom: 1px solid #000;
}

.nav-item.scrolled {
    color: #000 !important;
}

.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/Kunal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header_section {
    color: #fff;
    width: 100%;
    height: inherit;
    text-align: center;
    position: relative;
}

.info {
    width: 400px;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#about {
    padding: 4em 2em;
}
.left_underline{
    width: 30%;
    height: 3px;
    background-color: #00abff;
    margin-left: 0;
}
.center_underline{
    width: 40%;
    height: 3px;
    background-color: #00abff;
    align-content: center;
}
.social_icon{
    height: 50px;
    margin: 10px 10px;
}
.skillicon {
    font-size: 4em;
    margin: 3px;
}

.art {
    border: 1px solid black;
    border-width: 0;
    border-radius: 10px;
}

.project {
    margin-bottom: 2rem;
}

.single_card {
    box-shadow: 1px 1px 10px #888888;
    border: 1px solid black;
    border-radius: 10px;
}

.card-title {
   border-bottom: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.card-text {
    font-family: 'Lato', sans-serif;
}

.single_card .card-img-top {
    height: 180px;
    border-width: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social {
    margin-right: 2rem;
}

.social:hover {
    cursor: pointer;
}

.icons li {
    display: inline-block;
    margin-right: 2rem;
    height: 40px;
    width: 40px;
    background-color: #fff;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
    color: #262626;
    z-index: 1;
}

.icons li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00abff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.icons li:hover::before {
    transform: scale(1);
}

.icons li:hover {
    background: #fff;
    cursor: pointer;
    color: #fff;
}

footer {
    background: rgba(0, 171, 255, 1);
}
.credit{
    font-size: 15px;
}

#topbtn {
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 100;
    border: none;
    color: #fff;
    background: #00abff;
    border: 1px solid #606060;
    border-radius: 10px;
    padding: 10px;
}

#topbtn:hover {
    cursor: pointer;
    background: #606060;
}
